#guessBox{
	background-color:gray;
	color: white;
	height: 300px;
	width: 600px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	border: 10px double white;


}

body{
	background-image: url('https://media.istockphoto.com/id/1346081119/photo/abstract-blurred-colorful-lights-background.jpg?b=1&s=170667a&w=0&k=20&c=19nTGQt99_wDvJRjH-zhvaI6HAt0IZmhz7TXgIbYgEI=');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;

}

button {
	background-color:black;
	color: white;
	height: 40px;
	width: 60px;
	border-radius: 5px;
	border: 5px double gray;

}